#nameInput {
    width: 100%;
    padding-left: 1%;
}

#emailInput {
    width: 100%;
    padding-left: 1%;
}

#phoneInput {
    width: 100%;
    padding-left: 1%;
}

#productInput {
    width: 100%;
    padding-left: 1%;
}

#quantityInput {
    width: 100%;
    padding-left: 1%;
}